
/*------------------------- UNI SELECTORS---------------------------- */

*{
        margin:0%;
        padding: 0%;
        box-sizing: border-box;
       font-family: var(--font-family);

}

body{
        background-color: black;
        color: white;
        
        
       
}

/* -----------------------COLUMNS---LAYOUT -------------------------------*/

.outer{ 
        max-width: 1000px;
        width: 90%;
        margin:0 auto;
        display: grid;
        padding: 2rem;
        grid-template-columns: 1fr 1fr;
        gap: 5rem;
        padding-bottom: 7vh;

}

/*--MEDIA SCREEN FOR COLUMNS layout --*/
@media only screen and (max-width: 768px){
.outer{ 
        width: 100%;
        grid-template-columns: 1fr;
        padding: 2rem;
        gap: 8rem;
        padding-bottom: 9vh;
        display: block;
        justify-content: center;
        align-items: center;
    
   }
}

.headerouter{  
        grid-column: 1/-1;
       
         }



/*---------------HEADER ~ IMAGE, NAME AND SUMMARY------------------*/

.header{
        display: flex;
        gap: 20px;
        position: relative;
        justify-content: center;
        align-items: center;
       
          
}

.image{ 
        max-width: 280px;
        width: 150px;
        height: 150px;
        object-fit: cover;
        
 }

 .name h2{
        font-size: 35px;
        letter-spacing: 4px;
        color: rgb(255, 255, 255);  
        padding-bottom: 3px;
                    
 }


 .name h4{ 
        color: rgb(156, 149, 149);
        font-size: 13px;
        text-align: justify;
         
        }

.buttonClass {
       margin: 5px 0px 0px 0px;
       font-size:9px;
       color: rgb(255, 255, 255);
       opacity: 0.9;
       background-color: transparent;
       border: 1.5px solid rgb(255, 255, 255);
       padding: 4px;
       
       border-radius: 5px;
      
}
.buttonClass:hover {
       font-size:9px;
       background-color:rgb(50, 49, 49);
       color:rgb(255, 255, 255);
       transition: 0.2s;
      
}
                   

       
 /*--MEDIA SCREEN FOR HEADER--*/

@media only screen and (max-width:767px) {
.header{
        display: grid;
        gap: 5px;
        justify-content: center;
        align-items: center;
        padding-bottom: vh;
        
        
        }
.image{ display: grid;
       margin: auto;
       justify-content: center;
       
        max-width: 200px;
        width: 150px;
        height: 150px;
       object-fit: cover;}


.name h2{
       
        font-size:31px;
        text-align: center;
        letter-spacing: 0px;
        padding-bottom: 7px;
    }
.name h4{ 
        color: rgb(156, 149, 149);
        font-size: 9px;
        text-align: center;
}
.button{
        padding-top: 2px;
        text-align: center;
   
}
}


/*--------------------- coloum---1-----------------------------*/

         
.coloum1{
       margin-top: -3vh;
       padding-left: 2vw;
       
} 
/*--MEDIA SCREEN FOR coloum-1--*/

@media only screen and (max-width:767px) {
       

       .coloum1{
              margin-top: 4vh;
              padding-left: 2vw;
             
       } 
       }
/*------------------------CONTACT-----------------------------*/

.contact{
       
       font-size: 17px;
 
}
.contents1{
       padding-top: 9px;
       font-size: 14px;
       color: rgb(156, 149, 149);
}

/*-- MEDIA SCREEN FOR CONTACT--*/
@media only screen and (max-width:767px) {
.contact{
       
       font-size: 15px;
 
}
.contents1{
       padding-top: 9px;
       font-size: 12px;
       color: rgb(156, 149, 149);
}
}


 /*-----------------------EDUCATIONS--------------------------*/

 .education{
       padding-top: 6vh;
       padding-left: 0vw;
       font-size: 17px;

  
}

.contents2{
       padding-top: 9px;
       font-size: 14px;
       color: rgb(156, 149, 149);
}

.education b{
       color: rgb(184, 179, 179);
}

 /*---MEDIA SCREEN FOR EDUCATIONS--*/

 @media only screen and (max-width:767px) {
       
 .education{
       padding-top: 6vh;
       padding-left: 0vw;
       font-size: 15px;

  
}

.contents2{
       padding-top: 9px;
       font-size: 12px;
       color: rgb(156, 149, 149);
}

.education b{
       color: rgb(184, 179, 179);
}
 }

/*------------------------SKILL-----------------------------*/

.Skill{
       font-size: 17px;
       padding-top: 6vh;
     
       
}

.contents3{
       
       padding-top: 12px;
       padding-left: 1vw;
       font-size: 15px;
       color: rgb(156, 149, 149);
    
}

/*---MEDIA SCREEN FOR SKILL--*/

@media only screen and (max-width:767px) {
       

.Skill{
       font-size: 15px;
       padding-top: 6vh;
     
       
}

.contents3{
       
       padding-top: 12px;
       padding-left: 4vw;
       font-size: 13px;
       color: rgb(156, 149, 149);
    
}
}

/*----------------------OTHER skills-------------------------*/

.otherskills{
       margin-top: 6vh;
       font-size: 16px;

}
.otherskills li{
       padding-bottom: 5px;
}
.contents7  {
      
       padding-top: 10px;
       font-size: 15px;
       color: rgb(156, 149, 149);
       padding-left: 1vw;
}
.otherskills b{
       color: rgb(184, 179, 179);
}


/*-MEDIA SCREEN FOR OTHER skills---*/
@media only screen and (max-width:767px) {
       


.otherskills{
       margin-top: 6vh;
       font-size: 15px;

}
.otherskills li{
       padding-bottom: 5px;
}
.contents7  {
      
       padding-top: 10px;
       font-size: 12px;
       color: rgb(156, 149, 149);
       padding-left: 4vw;
}
.otherskills b{
       color: rgb(184, 179, 179);
}
}
      

/*---------------- coloum---2---------------------------*/
.coloum2{
       margin-top:-9vh;
       padding-left: 2vw;

 
}
/*--MEDIA SCREEEN FOR COLOUM-2--*/

@media only screen and (max-width:767px) {
.coloum2{ 
       margin-top: 4vh;
}
       
}
  
/*-------------------------PROJECTS----------------------------*/
 .project h2{
       font-size:27px;
       padding-top: vh;
}

.contents4 {
       
       padding-top: 9px;
       font-size: 15px;
       color: rgb(156, 149, 149);
       
}

.project h5{
       padding-top:0px;
       color: rgb(156, 149, 149);
      
}
/*--MEDIA SCREEN FPR PROJECTS--*/

@media only screen and (max-width:767px) {
       
}
.project h2{
       font-size:23px;
       margin-top: 6vh;
}

.contents4 {
       
       padding-top: 9px;
       padding-left: 2px;
       font-size: 12px;
       color: rgb(156, 149, 149);
       
}

.project h5{
       padding-top:0px;
       color: rgb(156, 149, 149);
}

/*-----------------------CERTIFICATIONS----------------------------------*/
.certifications {
       font-size:17px;
       margin-top: 10vh;

}

.contents5  {
       padding-top: 10px;
       font-size: 15px;
       color: rgb(156, 149, 149);
}
.certifications h5{
       font-size: 15px;
       color: rgb(156, 149, 149);
       padding-left: 22px;
}
.certifications b{
       color: rgb(184, 179, 179);
}

/*--MEDIA SCREEN FOR CERTIFICATIONS--*/
@media only screen and (max-width:767px) {
       
.certifications {
       font-size:15px;
       margin-top: 6vh;

}

.contents5  {
       padding-top: 10px;
       font-size: 13px;
       color: rgb(156, 149, 149);
}
.certifications h5{
       font-size: 12px;
       color: rgb(156, 149, 149);
       padding-left: 22px;
}
.certifications b{
       color: rgb(184, 179, 179);
}
}

/*------------AWARDS----------------*/

.credentials{
       margin-top: 9vh;
       font-size: 16px;
      
}
.credentials li{
       padding-bottom: 5px;
}
.contents6  {
      
       padding-top: 10px;
       font-size: 15px;
       color: rgb(156, 149, 149);
       padding-left: 20px;
}
.credentials b{
       color: rgb(184, 179, 179);
}

/*- MEDIA SCREEN FOR AWARDS--*/
@media only screen and (max-width:767px) {
       

.credentials{
       margin-top: 6vh;
       font-size: 15px;
      
}
.credentials li{
       padding-bottom: 5px;
}
.contents6  {
      
       padding-top: 10px;
       font-size: 13px;
       color: rgb(156, 149, 149);
       padding-left: 20px;
}
.credentials b{
       color: rgb(184, 179, 179);
}
}

/*------------OTHER DETAILS----------------*/

.Otherdetails h2{
       margin-top:8vh;
       font-size: 26px;

}

.contents8  {
      
       padding-top: 10px;
       font-size: 15px;
       color: rgb(156, 149, 149);
     
}
.Otherdetails b{
       color: rgb(184, 179, 179);
}
/*-- MEDIA SCREEN FOR OTHER DETAILS--*/
@media only screen and (max-width:767px) {

.Otherdetails h2{
       margin-top: 6vh;
       font-size: 23px;

}

.contents8  {
      
       padding-top: 10px;
       font-size: 12px;
       color: rgb(156, 149, 149);
     
}
.Otherdetails b{
       color: rgb(184, 179, 179);
       font-size: 13px;
}
}
/*-------------------------FOOTER-----------------------*/
.footouter{
       max-width: 1000px;
       width: 100%;
       margin:0 auto;
       display: grid;
      
       
}
.footer_icons{

       display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 1vh;
        
}
.footer_icons span{
       padding: 11px;
       font-size: 210%;
       color: rgb(170, 168, 168);
       
}
.footer_bottom{
       display: flex;
       justify-content: center;
       align-items: center;
       padding-bottom: 5vh;
       color: rgb(156, 149, 149);
}
.footer_bottom b{
       color: white;
}

.footer_icons span:hover {
       color: rgb(255, 255, 255)
}

/*---MEDIA FOR FOOTER--*/
@media only screen and (max-width:767px) {
.footer_icons span{
              padding: 11px;
              font-size: 150%;
              color: rgb(170, 168, 168);
              
       }
 .footer_bottom{
              display: flex;
              justify-content: center;
              align-items: center;
              padding-bottom: 5vh;
              color: rgb(156, 149, 149);
              font-size: 11px;
       }
       
}